/* FONTS */
h1, h2, h3, h4, h5, h6 {
  font-family: Sans-serif;
}

p, li {
  font-family: Serif;
}

h1 {
  font-size: 1.75em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.33em;
}

h4, p, li {
  font-size: 1.125em;
}

h5, h6 {
  font-size: 1em;
}


/* ELEMENTS */

body {
  background-color: white;
}

hr {
  width: 100%;
  border: 1px solid darkSlateGray
}

ul {
  padding-left: 24px;
}

img {
  max-width: 100%;
  max-height: 90vh;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
  border-radius: 3px;
  margin: auto;
}

img.cover {
  min-height: 100%;
  object-fit: cover;
}

button {
  cursor: pointer;
}


@media only screen and ( max-width: 640px ) {
  .layout-site {
    display: grid;
    grid-gap: 16px;
    margin: 16px;
  }

  .layout-page {
    padding: 24px;
    display: grid;
    grid-gap: 16px;
  }

  .layout-section {
    display: grid;
    grid-gap: 24px;
  }

  .layout-block {
    display: grid;
    grid-gap: 16px;
    height: fit-content;
  }
  .nuxt-content {
    display: grid;
    grid-gap: 16px;
  }

  .layout-item {
    display: grid;
    grid-gap: 8px;
  }

  .layout-detail {
    display: grid;
    grid-gap: 4px;
  }

  .grid-plate {
    grid-template-rows: 1fr 1fr 1fr;
  }

  .grid-plate > main {
    grid-row: 1 / span 2;
  }

  .grid-small {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .big-small--featured {
    grid-column: span 2;
  }

  .grid-big {
    grid-template-columns: 1fr;
  }

  .big-grid--featured {
    grid-row: 1 / span 2;
  }

  .haskey {
    grid-template-areas: 'main aside';
  }

  .haskey > aside {
    grid-area: aside;
    justify-self: right;
  }

  .haskey > main {
    grid-area: main;
  }

}


@media only screen and ( max-width: 800px ) and ( min-width: 640px ) {

  .layout-site {
    display: grid;
    grid-gap: 24px;
    margin: 24px;
  }

  .layout-page {
    padding: 32px;
    display: grid;
    grid-gap: 24px;
  }

  .layout-section {
    display: grid;
    grid-gap: 24px;
  }

  .layout-block {
    display: grid;
    grid-gap: 16px;
    height: fit-content;
  }
  .nuxt-content {
    display: grid;
    grid-gap: 16px;
  }

  .layout-item {
    display: grid;
    grid-gap: 8px;
  }

  .layout-detail {
    display: grid;
    grid-gap: 4px;
  }

  .grid-plate {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .grid-plate > main {
    grid-column: span 2;
  }

  .grid-small {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .big-small--featured {
    grid-column: span 2;
  }

  .grid-big {
    grid-template-columns: 1fr 1fr;
  }

  .big-grid--featured {
    grid-column: 1 / span 2;
  }

}


@media only screen and ( min-width: 800px ) {

  .layout-site {
    display: grid;
    grid-gap: 32px;
    margin: 32px 64px;
  }

  .layout-page {
    padding: 64px;
    display: grid;
    grid-gap: 32px;
  }

  .layout-section {
    display: grid;
    grid-gap: 32px;
    grid-auto-rows: min-content;
  }

  .layout-block {
    display: grid;
    grid-gap: 24px;
    height: fit-content;
  }
  .nuxt-content {
    display: grid;
    grid-gap: 24px;
  }

  .layout-item {
    display: grid;
    grid-gap: 8px;
  }

  .layout-detail {
    display: grid;
    grid-gap: 4px;
  }

  .grid-plate {
    /* grid-template-columns: 1fr 1fr 1fr; wasn't the issue */
    grid-template-columns: repeat( 3, minmax( 0, 1fr ) );
  }

  .grid-plate > main {
    grid-column: span 2;
  }

  .grid-small {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .big-small--featured {
    grid-column: 1 / span 2;
  }

  .grid-big {
    grid-template-columns: 1fr 1fr;
  }

  .big-grid--featured {
    grid-column: 1 / span 2;
  }

}


.square {
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.inline {
  display: flex;
  gap: 8px;
}

.row {
  grid-template-columns: 1fr auto;
}

.card {
  border: 1px solid lightgray;
  border-radius: 16px;
  padding: 24px;
  transition: border 200ms;
  transition-timing-function: ease-in-out;
  text-decoration: none;
  color: black;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}

.card:hover {
  border: 1px solid #0000EE;
  cursor: pointer;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.5);
}

.card:visited {
  border: 1px solid #551A8B;
}

.item-right {
  justify-self: right;
  text-align: right;
}

.item-center {
  justify-self: center;
}

.well {
  margin: 24px;
  height: fit-content;
}
